body{
    margin: 0;
    transition: opacity 1s ease;
    padding: 0;
    background-image: url(assets/bg.png);
    background-size: cover; /* Skalowanie obrazka w tle, aby pokryć cały obszar tła */
    background-repeat: no-repeat; /* Wyłączenie powtarzania obrazka w tle */
    background-position: center; /* Wyśrodkowanie obrazka w tle */
    
}

h1.titl{
    color: #b56bff;
    text-shadow: #b56bff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
}




.siemanoo{
    background-color: #b56bff33;
    position: relative;
    width: 600px;
    height: auto;
    transform: skew(-5deg);
    left: 55%;
    top: -25%;
    border-left: #ffffff solid 3px;
    padding: 10px;
    margin: 10px;

}

.siemanoo:hover{
    transition: 100ms;
    border-left: #ffffff solid 10px;
}

h2.info{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    position: relative;
    left: 3%;
    top: 5%;
}

h1.przydatne{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 30px;
    position: relative;
    left: 3%;
    top: 5%;

}



h2.titl{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    position: relative;
    margin-top: -45px;
    margin-left: 10%;
}

a{
    text-decoration: none;
}

.btn{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border: #0c0a0a00 solid 1px;
    
    font-size: 30px;
color: #fff;
background-color: #b56bff57;
padding: 5px 30px;

box-shadow: none;
transform: skew(-5deg);
border-left: solid 3px #ffffff;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-left: 10%;
margin-top: -5px;
position: relative;
transition: all 0.9s ease;
}

.btn:hover{

transition : 2000ms;
padding: 5px 300px;


}

