
body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/bg.png);
    background-size: cover; /* Skalowanie obrazka w tle, aby pokryć cały obszar tła */
    background-repeat: no-repeat; /* Wyłączenie powtarzania obrazka w tle */
    background-position: center; /* Wyśrodkowanie obrazka w tle */
}








.btn3{

   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border: #0c0a0a00 solid 1px;
    
    font-size: 30px;
color: #fff;
background-color: #b56bff57;
padding: 5px 30px;

box-shadow: none;
border-radius: 10px;
border-bottom: solid 3px #ffffff;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-top: 15px;
position: relative;
transition: all 0.9s ease;
}

.btn3:hover{

transition : 300ms;
padding: 5px 50px;


}



.btn2{

   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border: #0c0a0a00 solid 1px;
    
    font-size: 30px;
color: #fff;
background-color: #b56bff57;
padding: 5px 30px;

box-shadow: none;
transform: skew(-5deg);
border-left: solid 3px #ffffff;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-left: 4%;
margin-top: 10px;
position: relative;
transition: all 0.9s ease;
}

.btn2:hover{

transition : 300ms;
padding: 5px 50px;


}



.btn{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border: #0c0a0a00 solid 1px;
    
    font-size: 30px;
color: #fff;
background-color: #b56bff57;
padding: 5px 30px;

box-shadow: none;
transform: skew(-5deg);
border-left: solid 3px #ffffff;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-left: 10%;
margin-top: -5px;
position: relative;
transition: all 0.9s ease;
}

.btn:hover{

transition : 300ms;
padding: 5px 50px;


}

h2.msg{
    color: #b56bff;
    text-shadow: #b56bff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-left: 6%;
    top: 6%;
}

a{
    text-decoration: none;
}
.divik{
    background-color: #000000af;
    position: relative;
    border-radius: 30px;
    margin-left: 4%;
    width: 500px;
    height: 300px;
}


h2.elko{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-top: 10%;
    margin-left: 4%;
}
h1.ETAP{
    color: #b56bff;
    text-shadow: #b56bff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
    position: relative;
    margin-top: 4%;
    margin-left: 4%;
}

h2.ETAPinfo{
    color: #ffffff;
    text-shadow: #ffffff 0px 0px 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-top: -10px;
    margin-left: 4%;
}



input { font-size:16px;
    border-color:#cccccc;
    border-style:solid;
    padding:5 150px;
    border-width:0px; 
    border-radius: 0px;
    position: relative;
    color: white;
    background-color: #ffffff10;
    border-bottom: white solid 5px;

}
input:focus { outline:none; } 


